.panelElement_selected > .panelElement_selected_outline {
  background-color: rgba(128, 128, 128, 0.105);
  outline: 1px solid grey;
}

.panelElement_selected_outline {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
