.tool_settings_container {
  height: unset;
}

.tool_settings {
  display: flex;
  flex-direction: row;
}

.tool_setting {
  width: 100px;
}

.tool_color {
  display: flex;
  justify-content: center;
}