@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220, 6%, 96%;
    --foreground: 222, 10%, 16%;

    --muted: 215, 14%, 0%;
    --muted-foreground: 222, 0%, 16%;

    --popover: 220, 6%, 96%;
    --popover-foreground: 222, 10%, 16%;

    --border: 222, 10%, 70%;
    --input: 222, 10%, 70%;

    --card: 220, 6%, 96%;
    --card-foreground: 222, 10%, 16%;

    --primary: 222, 10%, 70%;
    --primary-foreground: 220, 6%, 96%;

    --secondary: 215, 4%, 80%;
    --secondary-foreground: 222, 10%, 16%;

    --accent: 215, 4%, 80%;
    --accent-foreground: 222, 10%, 16%;

    --destructive: 0, 10%, 50%;
    --destructive-foreground: 222, 10%, 16%;

    --ring: 222, 10%, 70%;
    --border: 240 10% 90%;
    --input: 240 10% 90%;
    --ring: 240 10% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220, 6%, 16%;
    --foreground: 222, 10%, 96%;

    --muted: 215, 4%, 25%;
    --muted-foreground: 222, 10%, 96%;

    --popover: 220, 6%, 16%;
    --popover-foreground: 222, 10%, 96%;

    --border: 222, 10%, 40%;
    --input: 222, 10%, 40%;

    --card: 220, 6%, 16%;
    --card-foreground: 222, 10%, 96%;

    --primary: 222, 10%, 65%;
    --primary-foreground: 220, 6%, 16%;

    --secondary: 215, 4%, 25%;
    --secondary-foreground: 222, 10%, 96%;

    --accent: 215, 4%, 25%;
    --accent-foreground: 222, 10%, 96%;

    --destructive: 0, 10%, 50%;
    --destructive-foreground: 222, 10%, 96%;

    --border: 240 10% 15.9%;
    --input: 240 10% 15.9%;
    --ring: 240 10% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  touch-action: none;
  min-width: 0;
  min-height: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}
